
<p align="right"><%= link_to 'New Name', new_name_path %></p>

<%= hidden_field_tag :direction, params[:direction] %>  
<%= hidden_field_tag :sort, params[:sort] %> 

<table>
  <tr>
    <th><%= sortable "cognome_nome" %></th>
    <th><%= sortable "luogo_nascita" %></th> 
    <th><%= sortable "data_nascita" %></th> 
    <th><%= sortable "residenza" %></th> 
    <th><%= sortable "cittadinanza" %></th>
    <th><%= sortable "association_id", "Associazione crim." %></th>
    <th><%= sortable "ambit_id", "Ambito crim." %></th>
    <th><%= sortable "area_id", "Area" %></th>
    <th> Foto </th>
    <th>Edit</th>
  
  </tr>

<% @names.each do |name| %>
  <tr>
    <td><%= link_to name.cognome_nome, name %></td>
    <td><%= name.luogo_nascita %></td>
    <td><%= name.data_nascita %></td>
    <td><%= name.residenza %></td>
    <td><%= name.cittadinanza %></td>
    
    
	<td>
	<% if name.association.nil? %>
  	<% else %>
		<%=name.association.associazione_criminale %>
    </td>
	<%end%>
	
    <td>
	<% if name.ambit.nil? %>
  	<% else %>
		<%=name.ambit.ambito_criminale %>
    </td>
	<%end%>
    
    <td>
	<% if name.area.nil? %>
  	<% else %>
		<%=name.area.area_criminale %>
    </td>
	<%end%>
    <td><%= image_tag name.photo.url(:thumb) %></td>
        <td><%= link_to 'Show', name %>
    <%= link_to 'Edit', edit_name_path(name) %>
    <%= link_to 'Destroy', name, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
    
    
    <%= will_paginate @names %>



