<h1 align = "center" style= "color:#a21919">Database Ros Brescia</h1> <br>





<%= link_to(image_tag('/images/name_off.png', :mouseover => '/images/name_on.png'), { :controller => "names", :action=> "index",})%>
<%= link_to(image_tag('/images/associazioni_off.png', :mouseover => '/images/associazioni_on.png'), { :controller => "unions", :action=> "index",})%>
<%= link_to(image_tag('/images/dossier_off.png', :mouseover => '/images/dossier_on.png'), { :controller => "unions", :action=> "index",})%>
<%= link_to(image_tag('/images/fascicoli_off.png', :mouseover => '/images/fascicoli_on.png'), { :controller => "fascicles", :action=> "index",})%>
<%= link_to(image_tag('/images/gallery_off.png', :mouseover => '/images/gallery_on.png'), { :controller => "galleries", :action=> "index",})%>

<br/>
<%= link_to(image_tag('/images/indagini_off.png', :mouseover => '/images/indagini_on.png'), { :controller => "investigations", :action=> "index",})%>
<%= link_to(image_tag('/images/society_off.png', :mouseover => '/images/society_on.png'), { :controller => "societies", :action=> "index",})%>





<h2 style="margin-left:50px"> Area Admin </h2>
<p style="margin-left:50px">

<%= link_to(image_tag('/images/area.png'), {:controller => "areas", :action=> "index"})%>
<%= link_to(image_tag('/images/ass_crim.png'), {:controller => "areas", :action=> "index"})%>
<%= link_to(image_tag('/images/ambito.png'), {:controller => "areas", :action=> "index"})%>


