<%= form_for(@ambit) do |f| %>
  <% if @ambit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ambit.errors.count, "error") %> prohibited this ambit from being saved:</h2>

      <ul>
      <% @ambit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ambito_criminale %><br />
    <%= f.text_field :ambito_criminale %>
  </div>
  <div class="field">
    <%= f.label :note_ambito %><br />
    <%= f.text_area :note_ambito %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
