<h1>Lista ambito crim.</h1>

<table>
  <tr>
    <th>Ambito criminale</th>
    <th>Note ambito</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ambits.each do |ambit| %>
  <tr>
    <td><%= ambit.ambito_criminale %></td>
    <td><%= ambit.note_ambito %></td>
    <td><%= link_to 'Show', ambit %></td>
    <td><%= link_to 'Edit', edit_ambit_path(ambit) %></td>
    <td><%= link_to 'Destroy', ambit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ambit', new_ambit_path %>
