<p id="notice"><%= notice %></p>

<p>
  <b>Ambito criminale:</b>
  <%= @ambit.ambito_criminale %>
</p>

<p>
  <b>Note ambito:</b>
  <%= @ambit.note_ambito %>
</p>


<%= link_to 'Edit', edit_ambit_path(@ambit) %> |
<%= link_to 'Back', ambits_path %>
