<h2><%= link_to 'Home', :controller => 'home', :action => 'index' %></h2>

        
          <li>
            <h3>Area 1</h3>
            <ul class="links">
            <li><%= link_to 'Anagrafica', :controller => 'names', :action=> 'index' %></li>  
            <li><%= link_to 'Photo', :controller => 'photos', :action=> 'index' %></li>
            <li><%= link_to 'Documenti', :controller => 'dossiers', :action=> 'index' %></li>      
            <li><%= link_to 'Indagini', :controller => 'investigations', :action=> 'index' %></li>
            <li><%= link_to 'Ambito', :controller => 'ambits', :action=> 'index' %></li>
            <li><%= link_to 'Area', :controller => 'areas', :action=> 'index' %></li>
            <li><%= link_to 'Associazioni', :controller => 'associations', :action=> 'index' %></li>



            </ul>
          </li>

          <li>
            <h3>Area 1</h3>
            <ul class="links">
            <li><%= link_to 'Search',:controller => 'names', :action=> 'search' %></li>

            </ul>
          </li>
          
          <li>
            <h3>Area2</h3>
            <ul class="links">
              <li><%= link_to 'Intercettazioni', :controller => 'interceptions', :action=> 'index' %></li>
              
              
              <% if logged_in? %>
                <p><strong>You are logged in as <%=h current_user.login %></strong></p>
                <p><%= link_to 'Logout', logout_path %></p>
              <% else %>
                <p><strong>You are currently not logged in.</strong></p>
                <p>
                  <%= link_to 'Login', login_path %> or
                  <%= link_to 'Sign Up', signup_path %>
                </p>

              <% end %>
            </ul>
          </li>
         
          <li>
            <h3>Area Admin</h3>
          	<ul class="links">
	<h3> Login </h3>
	<div>
  	<% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Logout user", destroy_user_session_path %>
  	<% else  %>
    <%= link_to "Login user", new_user_session_path %>
  	<% end %>
  	
  	<% if admin_signed_in? %>
    Signed in as <%= current_admin.email %>. Not you?
    <%= link_to "Logout admin", destroy_admin_session_path %>
  	<% else  %>
    <%= link_to "Login admin", new_admin_session_path %>
  	<% end %>
  	<% if admin_signed_in? %>
  	<%= link_to "crea utente", new_user_registration_path %> 
  	<%end%>
  	
	</div>
			 
	</ul>          
          
          
        </ul>
      </ul>
    </li>
</ul>
