<!DOCTYPE html>
<html>
<head>
  <title>Dbros</title>
  <%= stylesheet_link_tag 'dbros' %>
  <%= javascript_include_tag :defaults %> 
  <%= csrf_meta_tag %>
   
	
</head>
<body>

  <body>
    <div id="page">

      <div id="sidebar">

      <%= render :partial => 'layouts/menu' %>

      </div>

      <div id="content">

<%= yield  %>

      </div>

      <div id="footer">&nbsp;</div>
    </div>
</body>
</html>

